body {
    font-size: 12px;
}

hr {
    background-color: #e5e5e5;
    height: 1px;
    border: 0;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.search-bar {
    display: block;
    position: relative;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.lsv-container > div {
    text-align: left;
    display: inline-grid;
}

.lsv-container > div > div {
    padding-bottom: 10px;
}

.lsv-container {
    text-align: center
}

.excl-incl-rect {
    width: 200px;
    margin: 0;
}

.index-header {
    margin-bottom: 25px;
    position: relative;

}

.index-header > a {
    position: absolute;
    right: 3px;
    bottom: 3px;
    text-decoration: none;
    color: #225bae;
    font-weight: bold;
    font-size: 14px;
}



.footer {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: lighter;
}